<h1>Listing devices</h1>
<table class="table">
	<thead>
		<tr>
		  <th><p><%= link_to "Order by ",{ :controller => "devices", :action => "index_ordered_by_name"}, class: "btn btn-mini btn-danger" %></p>Name</th>
		  <th><p><%= link_to "Order by ",{ :controller => "devices", :action => "index_ordered_by_type"}, class: "btn btn-mini btn-danger" %></p>Type</th>
		  <th><p><%= link_to "Order by ",{ :controller => "devices", :action => "index_ordered_by_send"}, class: "btn btn-mini btn-danger" %></p>Sends logs </th>
			<th><p><%= link_to "Order by ",{ :controller => "devices", :action => "index_ordered_by_creation_time"}, class: "btn btn-mini btn-danger" %></p>Attach time</th>
		</tr>
	</theard>
	<tbody>
		<% @devices.each do |device| %>
			<tr>
				<td><%= device.name %></td>
				<td><%= device.dtype %></td>
				<td><%= device.sends_logs %></td>
				<td><%= device.created_at %></td>
				<% if device.sends_logs == false %>
					<td><%= link_to "Turn on",{ :controller => "devices", :action => "activate", :id => device}, class: "btn btn-small btn-success" %></td>
											<!--uwaga na nawiasy wasowe, one musza byc bo inaczej jaja sie dzieja -->
				<% else %>
					<td><%= link_to "Turn off",{ :controller => "devices", :action => "deactivate", :id => device}, class: "btn btn-small btn-danger" %></td>
				<% end %>
				<td><%= link_to 'Show Graph' , { :controller => "charts", :action => "index", :id => device, measure: "first,second"}, :class => "btn btn-small btn-info" %></td>
				<td><%= link_to 'Generate raport', { controller: "reports", :action => "createandshow", :id => device}, class: "btn btn-small btn-warning"%></td>
				<td><%# link_to 'Edit', edit_device_path(device), :class => "btn btn-small btn-primary" %></td>
			</tr>
		<% end %>
	<tbody>
</table>
