<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Dtype:</b>
  <%= @device.dtype %>
</p>

<p>
  <b>Sends logs:</b>
  <%= @device.sends_logs %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
